* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  padding: 10px;
  background-color: gray;
  color: white;
}

.menu {
}

.a1 {
  background-color: blue;
}

.a2 {
  background-color: red;
}

.a3 {
  background-color: green;
}

.back {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#btn1 {
  width: 100px;
  height: 50px;
  padding: 10px;
}
